body{
    background-color: rgb(243, 233, 233);
}

.content{
    background-color: #FFF;
    padding: 30px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 157, 157);
}

.mode{
    display: flex;
    padding: 7px 5px 5px 4px;
    margin: auto;
    font-size: 20px;
    background-color: rgb(190, 157, 157);
    border: none;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}


.new_task{
    background-color: rgb(251, 247, 247);
    border: 1px solid rgb(190, 157, 157);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.new_task>p{
    margin: 0px;
    width: 820px;
    padding-left : 10px;
    color: rgb(138, 107, 107);
}

.type_task{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#typein{
    padding: 10px;
    width: 500px;
    border: 1px solid rgb(190, 157, 157);
    border-radius: 10px;
}

#typein::placeholder{
    color: rgb(190, 157, 157)
}

#typein:focus{
    color: rgb(190, 157, 157);
    border: 1px solid rgb(190, 157, 157)
}

#typein:active{
    color: rgb(190, 157, 157);
    border: 1px solid rgb(190, 157, 157)
}

#typein:focus-visible {
    outline: 0px;
}

.enter{
    padding: 10px;
    border: 1px solid rgb(190, 157, 157);
    background-color: rgb(243, 233, 233);
    color: rgb(190, 157, 157);
    border-radius: 10px;
}

#buttond{
    background-color: rgb(230, 105, 105);
    color: white;
    border: none;
    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 0px;
    border-radius: 10px;
}
#buttond:hover{
    background-color: rgb(180, 63, 63);
}

#buttonm{
    background-color: rgb(243, 188, 99);
    color: white;
    border: none;
    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 0px;
    
    margin-right: 20px;
    border-radius: 10px;
}

#buttonm:hover{
    background-color: rgb(211, 123, 64);
}

.btns{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.clearall{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.all, .todo, .done{
    padding: 10px;
    border: 1px solid rgb(190, 157, 157);
    background-color: rgb(243, 233, 233);
    color: rgb(190, 157, 157);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

.all:hover, .todo:hover, .done:hover{
    background-color: rgb(199, 163, 163);
    color: rgb(255, 246, 246);
}
.all:focus, .todo:focus, .done:focus{
    background-color: rgb(199, 163, 163);
    color: rgb(255, 246, 246);
}

.clear{
    padding: 10px 12px 10px 10px;
    border: none;
    background-color: rgb(230, 105, 105);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 120px;
}

.clear:hover{
    background-color: rgb(180, 63, 63);
}

.rename{
    margin: 0px;
    margin-right: 14px;
    width: 800px;
    padding : 10px 10px 10px 10px;
    color: rgb(138, 107, 107);
}

.dnone{
    display: none;
}

.dblock{
    display: inherit;
}



.s_body{
    background-color: rgb(34, 32, 32);
}
.s_content{
    background-color: rgb(68, 62, 62);
}
.s_h1{
    color: rgb(250, 218, 208);
}

.s_mode{
    background-color: rgb(250, 218, 208);
}

.s_input{
    background-color: rgb(94, 84, 84);
    border: 1px solid rgb(46, 40, 40) !important;
    color: rgb(42, 38, 38)
}

.s_enter, .s_all, .s_todo, .s_done{
    background-color: rgb(94, 84, 84);
    border: 1px solid rgb(46, 40, 40) !important;
}

.s_all:hover, .s_todo:hover, .s_done:hover{
    background-color: rgb(119, 100, 100);
    color: rgb(221, 183, 183);
    
}

.s_clear{
    background-color: rgb(100, 63, 63);
    border: 1px solid rgb(66, 47, 47);
    color: rgb(207, 166, 154);
}

.s_clear:hover{
    background-color: rgb(139, 79, 79);
}

.s_task{
    background-color: rgb(139, 79, 79);
}