body{
    background-color: #f9fafc;
}

.contenu{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;

}

h1{
    background-color: #00c0ef;
    padding: 20px 20px 45px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    border-radius: 5px;
    border-left: 8px solid #0097bc;
    font-weight: bold;
}

.div_1{
    border-top: 2px solid #0097bc;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
}

.div_2{
    border-top: 1px solid #e4e5e7;
    border-bottom: 2px solid#e4e5e7;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

.big_div{
    background-color: #efefef;
    width: 20%;
    height: 200px;
    border: 3px solid #000000;
}

/* ROWS */

.second_row{
    display: flex;
}

.third_row{
    display: flex;
}

/* BUTTONS */ 

.btn{
    height: 38px;
    width: 38px;
}

.btn_empty{
    width: 52px;
}

.btn2{
    background-color: #efefef;
    width: 58px;
}

#btn_1{
    background-color: #efefef;
    
}
#btn_2{
    background-color: #dd4b39;
    
}
#btn_3{
    background-color: #00a65a;
        
}

#btn_4{
    background-color: #3c8dbc;
}
#btn_5{
    border: 2px black solid;
}
#btn_6{
    border: 2px black dashed;
}
#btn_7{
    border: 2px black dotted;
}

#btn_9{
    border-top: 3px solid red
}

#btn_10{
    border-top: 10px solid red
}



/* INPUTS */ 

.input_color{
    height: 30px;
    padding: 8px;

}

.input{
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    padding-left: 12px;
}

.input1{
    border: 2px solid #000;
}

.input2{
    border-top: 2px solid #000;
}

.input3{
    border-right: 2px solid #000;
}

.input4{
    border-bottom: 2px solid #000;
}

.input5{
    border-left: 2px solid #000;
}


.input6{
    border: 2px solid #000;
    border-radius: 10px;
}

.input7{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-top-left-radius: 10px;
}

.input8{
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-top-right-radius: 10px;
}

.input9{
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-right-radius: 10px;
}

.input10{
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom-left-radius: 10px;
}